* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: rgb(53, 52, 52);
    color: rgb(255, 255, 255);
    padding: 16px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header li a {
    color: white;
    text-decoration: none;
    margin-left: 16px;
}

header li a:hover {
    text-decoration: underline;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.articles article img {
    /* height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2, 
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: rgb(41, 113, 247);
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
    border: solid;
    border-color: rgb(1, 68, 1);
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#esports {
    background-color: rgba(0, 255, 0, 0.2);
}

#esports a {
    background-color: rgba(0, 121, 0, 0.836);
}

#economy {
    background-color: rgba(255, 215, 0, 0.2);
}

#economy .articles article a:hover {
    text-decoration: underline;
    border: solid;
    border-color: rgb(122, 80, 2);
}

#economy a {
    background-color: orange;
}

#entreterimento {
    background-color: rgba(160, 32, 240, 0.2);
}

#entreterimento a {
    background-color: blueviolet;
}

#entreterimento .articles article a:hover {
    border: solid;
    border-color: rgb(59, 0, 59);
}

#tech {
    background-color: rgba(41, 113, 247, 0.377)
}

#tech .articles article a:hover {
    border: solid;
    border-color: rgb(25, 68, 146);
}